*.exe
*.o
*.i
*.elf
*.gba
!data/*.gba
*.sgm
*.sa1
*.ss[0-9]
*.sg1
*.1bpp
*.4bpp
*.8bpp
*.gbapal
*.lz
*.rl
*.latfont
*.hwjpnfont
*.fwjpnfont
sound/**/*.bin
sound/songs/midi/*.s
tools/agbcc
*.map
*.ld
*.bat
*.dump
*.sa*
Thumbs.db
build/
.DS_Store
*.ddump
.idea/
porymap.*.cfg
*.a
.fuse_hidden*
*.sna
*.diff
*.sym
*.js
*.ups
!scripts/*
pokeemerald_memorystats.csv
data/maps/**/*.inc
tools/poryscript/*
tools/ups/*
!tools/Pokabbie/Build
pokeemerald-*.png